* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --myColor:rgb(193, 174, 174);
}

main {
    font-family: "Heebo", sans-serif;
}

.landing {
    min-height:100vh;
    background-image: url("./assets/sea.jpg");
    background-size: cover;
    padding: 0rem 5rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height:10vh;
}
.nav-links{
    display:column;
    justify-content:center;
    list-style: none;
    align-content: space-between;
    padding:1rem;
    margin:1rem;
}
.nav-links li {
    padding-top: 1rem ;
    margin-left: 3rem;
    font-size: 1.8rem;
    font-weight: 100;
    font-family: 'Overpass', sans-serif;
    display:flex;
    justify-content:center;
    color:var(--myColor)
    
    
}
#logo{
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    margin-right:3rem;
    margin-left: 0rem;
    font-size: 2.5rem;
    color:var(--myColor);
}
.big-text{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-30%);
    font-size: 5rem;
    font-family: "Lobster Two", cursive;
    color:var(--myColor)
}
.intro{
    background:#DECFC8;
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity:1;
}
.slider{
    background:#21576D;
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform:translateY(100%)

}

.intro-text{
    color:#21576D;
    font-family: "Heebo", sans-serif;
    font-size: 5rem;
    
}

.hide{
    background:b#DECFC8;
    overflow: hidden;
}

.hide span {
    transform:translateY(100%);
    display: inline-block;
}